/*

Description: Ajax transitions
Author: Idee di Marca
Author URI: https://www.ideedimarca.it/
Version: 1.0

*/

// transitioning 
body {
    header.header,
    main,
    nav.hero-nav {
        opacity: 1;
        transition: .5s ease-in-out;
    }
    &.loading {
        header.header,
        main,
        nav.hero-nav {
            opacity: 0;
        }   
    }
}

main {
    opacity: 1;
    body.loading & {
        opacity: 0;
    }
    body:not(.single-product-one) & {
        transition: .5s ease-in-out;
    }
}

// product heading general
.product-heading {

    height: 100vh;
    position: absolute;
    top: 0;

    .area-title {

        width: 100%;
        position: absolute;
        bottom: 1rem;
        right: 0;
        padding-left: 3rem;
        padding-right: 3rem;
        padding-bottom: 3rem;
        opacity: 0;
        animation: .5s titleFadeIn cubic-bezier(0.445, 0.05, 0.55, 0.95) forwards;

        &:before {

            content: '';
            width: calc(100% - 6rem);
            height: 1px;
            position: absolute;
            left: 3rem;
            bottom: calc(3rem - 15px);
            border-bottom-width: 5px;
            border-bottom-style: dotted;
            border-bottom-color: $color_palette6;
            border-image-source: url(/assets/images/dots_color_dark.svg);
            border-image-slice: 29% 29%;
            border-image-repeat: space;

        }

        h1 {
            font-size: 3.666rem;
            font-weight: 700;
            line-height: 1;
            margin-bottom: .5rem;
            font-family: $font_title;
        }

        h6 {
            font-family: $font_title;
            font-size: 1.125rem;
            font-weight: 700;
            // font-style: italic;
            color: $color_white;
            line-height: 1.2;
            margin: 0;
            max-height: 0;
            overflow: hidden;
            transition: .5s ease-in-out;
        }

        &.area-title-page-info {

            max-width: 33.33333333%;
            bottom: 0;
            right: 0;
            position: absolute;
            padding-left: 0;
            padding-right: 3rem;
            padding-bottom: 33vh;

            &:before {

                content: '';
                width: 1px;
                height: calc(33vh + 5rem );
                position: absolute;
                left: 50%;
                bottom: -16.5vh;
                border-left-width: 5px;
                border-left-style: dotted;
                border-left-color: $color_palette1;
                border-image-source: url(/assets/images/dots_color_dark.svg);
                border-image-slice: 29% 29%;
                border-image-repeat: space;

            }

            h6 {
                font-family: $font_text;
                font-weight: 400;
                font-style: italic;
                color: $color_white;
                margin: 0 0 .5rem 0;
                font-size: 1.066rem;
            }
            h1 {
                font-family: $font_title;
                font-size: 4.666rem;
                font-weight: 700;
                line-height: 1;
                margin: 0;
            }
        }
    }

    &[data-product="single-product-one"] {
        background: $color_palette2;
        .area-title {
            h6,
            h1 {
                color: $color_palette6;
            }
            &:before {
                border-bottom-color: $color_palette6;
            }
        }
    }
    &[data-product="single-product-two"] {
        background: $color_palette3;
        .area-title {
            h6,
            h1 {
                color: $color_palette8;
            }
            &:before {
                border-bottom-color: $color_palette8;
            }
        }
    }
    &[data-product="single-product-three"] {
        background: $color_palette4;
        .area-title {
            h6,
            h1 {
                color: $color_palette7;
            }
            &:before {
                border-bottom-color: $color_palette7;
            }
        }
    }

    &:hover {

        .area-title {

            h6 {

                max-height: 100px;

            }

        }

    }

    @include media-breakpoint-only(lg) {

        .area-title {

            h6 {
                font-size: 1.25rem;
                max-height: 800px;
                overflow: initial;
            }
    
        }

    }

    @include media-breakpoint-only(md) {

        .area-title {

            bottom: 1rem;
            padding: 1rem 1rem 2rem 1rem;
    
            h1 {
                font-size: 4.666rem;
                font-weight: 700;
                line-height: 1;
                margin-bottom: .5rem;
                font-family: $font_title;
            }
    
            h6 {
                font-size: 1.5rem;
                max-height: 800px;
                overflow: initial;
            }

            &:before {
                left: 1rem;
                bottom: 1rem;
                width: calc(80vw - 2rem);
            }

            &.area-title-page-info {
    
                max-width: 33.33333333%;
                bottom: 0;
                right: 0;
                position: absolute;
                padding-left: 0;
                padding-right: 3rem;
                padding-bottom: 33vh;
    
                &:before {
    
                    content: '';
                    width: 1px;
                    height: 40vh;
                    bottom: -10vh;
    
                }
    
                h6 {
                    margin: 0 0 .5rem 0;
                    font-size: 1.066rem;
                }
                h1 {
                    font-size: 3.666rem;
                }
            }
        }

    }

    @include media-breakpoint-down(md) {

        .area-title {

            bottom: 1rem;
            padding: 1rem 1rem 1rem 1rem;
    
            h1 {
                font-size: 2.666rem;
            }
    
            h6 {
                font-family: $font_title;
                font-size: 1.066rem;
                max-height: 1000px;
                overflow: initial;
            }

            &:before {

                content: '';
                width: calc(100% - 2rem);
                height: 1px;
                position: absolute;
                left: 1rem;
                bottom: calc(1rem - 15px);
                border-bottom-width: 5px;
                border-bottom-style: dotted;
                border-bottom-color: $color_palette6;
                border-image-source: url(/assets/images/dots_color_dark.svg);
                border-image-slice: 29% 29%;
                border-image-repeat: space;
    
            }
    
            &.area-title-page-info {
    
                max-width: 90%;
                padding: 2rem;
                text-align: right;
    
                &:before {
                    display: none;
                }
    
                h6 {
                    font-family: $font_text;
                    font-weight: 400;
                    font-style: italic;
                    color: $color_white;
                    margin: 0 0 .5rem 0;
                    font-size: 1.066rem;
                }
                h1 {
                    font-size: 3.366rem;
                }
            }
        }
        
    }

}

 // product heading final state
 body[class*="single-product-"] {
        
    overflow-x: hidden;

    .product-heading {
        width: 100%;
        left: 0;
        pointer-events: none;
    }

}

// initial state
body.index {

    overflow: hidden;

    .main-logo {
        pointer-events: none;
        cursor: pointer;
    }

    .product-heading {

        width: 33.3333333%;

        img.obj-fit {
            width: 33vw;
            height: 75vh;
            object-fit: cover;
            transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
        }

        &[data-product="single-product-one"] {
            left: 0;
            z-index: 3;
        }
        &[data-product="single-product-two"] {
            left: 33.3333333%;
            z-index: 2;
        }
        &[data-product="single-product-three"] {
            left: 66.6666666%;
            z-index: 1;
        }
    }

    &.page-is-changing {

        .product-heading {

            transition: 1.25s cubic-bezier(0.165, 0.84, 0.44, 1);

            .area-title {
                animation: titleFadeOut .5s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
            }

        }
        
        &.single-product-one {
            .product-heading {
                img.obj-fit {
                    width: 50vw;
                    height: 90vh;
                    object-fit: cover;
                    transition: .75s cubic-bezier(0.075, 0.82, 0.165, 1);
                    transition-delay: 1s;
                }
            }
            .product-heading[data-product="single-product-one"] {
                width: 100%;
                left: 0;
            }
            .product-heading[data-product="single-product-three"],
            .product-heading[data-product="single-product-two"] {
                width: 0;
                left: 100vw;
            }

        }
        &.single-product-two {
            .product-heading {
                img.obj-fit {
                    width: 50vw;
                    height: 90vh;
                    object-fit: cover;
                    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
                    transition-delay: 1s;
                }
            }
            .product-heading[data-product="single-product-two"] {
                width: 100%;
                left: 0;
                z-index: 3;
            }
            .product-heading[data-product="single-product-one"] {
                width: 0;
                left: 0;
                z-index: 1;
            }
            .product-heading[data-product="single-product-three"] {
                width: 0;
                left: 0;
                z-index: 1;
            }
        }
        &.single-product-three {
            .product-heading {
                img.obj-fit {
                    width: 50vw;
                    height: 90vh;
                    object-fit: cover;
                    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
                    transition-delay: 1s;
                }
            }
            .product-heading[data-product="single-product-three"] {
                width: 100%;
                left: 0;
                z-index: 3;
            }
            .product-heading[data-product="single-product-one"] {
                width: 0;
                left: 0vw;
                z-index: 1;
            }
            .product-heading[data-product="single-product-two"] {
                width: 0;
                left: 0vw;
                z-index: 1;
            }
        }

    }

    @include media-breakpoint-down(lg){

        overflow-x: scroll;

        .product-heading {

            width: 80vw;
    
            img.obj-fit {
                width: 80vw;
                height: 75vh;
                object-fit: cover;
            }
    
            &[data-product="single-product-one"] {
                left: 0;
            }
            &[data-product="single-product-two"] {
                left: 80vw;
            }
            &[data-product="single-product-three"] {
                left: calc( 80vw * 2 );
            }
        }
    
        &.page-is-changing {
            
            &.single-product-one {
                .product-heading {
                    img.obj-fit {
                        width: 50vw;
                        height: 90vh;
                        object-fit: cover;
                        transition: .75s cubic-bezier(0.075, 0.82, 0.165, 1);
                        transition-delay: 1s;
                    }
                }
                .product-heading[data-product="single-product-one"] {
                    width: 100%;
                    left: 0;
                }
                .product-heading[data-product="single-product-three"],
                .product-heading[data-product="single-product-two"] {
                    width: 0;
                    left: 100vw;
                }
            }
            &.single-product-two {
                .product-heading {
                    img.obj-fit {
                        width: 50vw;
                        height: 90vh;
                        object-fit: cover;
                        transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
                        transition-delay: 1s;
                    }
                }
                .product-heading[data-product="single-product-two"] {
                    width: 100%;
                    left: 0;
                }
                .product-heading[data-product="single-product-one"] {
                    width: 0;
                    left: 0;
                }
                .product-heading[data-product="single-product-three"] {
                    width: 0;
                    left: 0;
                }
            }
            &.single-product-three {
                .product-heading {
                    img.obj-fit {
                        width: 50vw;
                        height: 90vh;
                        object-fit: cover;
                        transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
                        transition-delay: 1s;
                    }
                }
                .product-heading[data-product="single-product-three"] {
                    width: 100%;
                    left: 0;
                }
                .product-heading[data-product="single-product-one"] {
                    width: 0;
                    left: 0vw;
                }
                .product-heading[data-product="single-product-two"] {
                    width: 0;
                    left: 0vw;
                }
            }
    
        }

    }

}

// transitional state 
body.single-product-one {
    .product-heading {
        img.obj-fit {
            width: 50vw;
            height: 90vh;
            object-fit: cover;
            transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
        }
        .area-title {
            opacity: 0;
            animation: titleFadeIn .5s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
            animation-delay: .15s;
            &:before {
                border-left-color: $color_palette6;
            }
        }
    }
    .product-heading[data-product="single-product-one"] {
        width: 100%;
        left: 0;
    }
    .product-heading[data-product="single-product-three"],
    .product-heading[data-product="single-product-two"] {
        width: 0;
        left: 100vw;
    }
    &.page-is-changing {
        .product-heading {
            width: 33.3333333%;
            transition-delay: 1s;
            img.obj-fit {
                width: 33vw;
                height: 75vh;
                object-fit: cover;
                transition: .75s cubic-bezier(0.075, 0.82, 0.165, 1);
                transition-delay: .35s;
            }
            .area-title {
                animation: titleFadeOut .35s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
                animation-delay: 0;
            }
            &[data-product="single-product-one"] {
                left: 0;
            }
            &[data-product="single-product-two"] {
                left: 33.3333333%;
            }
            &[data-product="single-product-three"] {
                left: 66.6666666%;
            }
        }
    }

    @include media-breakpoint-down(lg) {
     
        &.page-is-changing {
            .product-heading {
                width: 80vw;
                img.obj-fit {
                    width: 80vw;
                    height: 75vh;
                    object-fit: cover;
                }
                &[data-product="single-product-one"] {
                    left: 0;
                }
                &[data-product="single-product-two"] {
                    left: 80vw;
                }
                &[data-product="single-product-three"] {
                    left: calc( 80vw * 2 );
                }
            }
        }

    }

}

body.single-product-two {
    .product-heading {
        img.obj-fit {
            width: 50vw;
            height: 90vh;
            object-fit: cover;
            transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
        }
        .area-title {
            &:before {
                border-left-color: $color_palette8;
            }
        }
    }
    .product-heading[data-product="single-product-two"] {
        width: 100%;
        left: 0;
    }
    .product-heading[data-product="single-product-one"]{
        width: 0;
        left: 0;
    }
    .product-heading[data-product="single-product-three"] {
        width: 0;
        left: 100vw;
    }
    &.page-is-changing {
        .product-heading {
            width: 33.3333333%;
            transition-delay: 1s;
            img.obj-fit {
                width: 33vw;
                height: 75vh;
                object-fit: cover;
                transition: .75s cubic-bezier(0.075, 0.82, 0.165, 1);
                transition-delay: .35s;
            }
            .area-title {
                animation: titleFadeOut .35s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
                animation-delay: 0;
            }
            &[data-product="single-product-one"] {
                left: 0;
            }
            &[data-product="single-product-two"] {
                left: 33.3333333%;
            }
            &[data-product="single-product-three"] {
                left: 66.66666666%;
            }
        }
    }

    @include media-breakpoint-down(lg) {

        .product-heading[data-product="single-product-three"] {
            width: 0;
            left: -100vw;
        }

        &.page-is-changing {
            .product-heading {
                width: 80vw;
                img.obj-fit {
                    width: 80vw;
                    height: 75vh;
                    object-fit: cover;
                }
                &[data-product="single-product-one"] {
                    left: 0;
                }
                &[data-product="single-product-two"] {
                    left: 80vw;
                }
                &[data-product="single-product-three"] {
                    left: calc( 80vw * 2 );
                }
            }
        }

    }

}

body.single-product-three {
    .product-heading {
        img.obj-fit {
            width: 50vw;
            height: 90vh;
            object-fit: cover;
            transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
        }
        .area-title {
            &:before {
                border-left-color: $color_palette7;
            }
        }
    }
    .product-heading[data-product="single-product-three"] {
        width: 100%;
        left: 0;
    }
    .product-heading[data-product="single-product-one"],
    .product-heading[data-product="single-product-two"] {
        width: 0;
        left: 0;
    }
    &.page-is-changing {
        .product-heading {
            width: 33.3333333%;

            transition-delay: 1s;
            img.obj-fit {
                width: 33vw;
                height: 75vh;
                object-fit: cover;
                transition: .75s cubic-bezier(0.075, 0.82, 0.165, 1);
                transition-delay: .35s;
            }
            .area-title {
                animation: titleFadeOut .35s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
                animation-delay: 0;
            }

            &[data-product="single-product-one"] {
                left: 0;
            }
            &[data-product="single-product-two"] {
                left: 33.3333333%;
            }
            &[data-product="single-product-three"] {
                left: 66.66666666%;
            }
        }
    }

    @include media-breakpoint-down(lg) {

        &.page-is-changing {
            .product-heading {
                width: 80vw;
                img.obj-fit {
                    width: 80vw;
                    height: 75vh;
                    object-fit: cover;
                }
                &[data-product="single-product-one"] {
                    left: 0;
                }
                &[data-product="single-product-two"] {
                    left: 80vw;
                }
                &[data-product="single-product-three"] {
                    left: calc( 80vw * 2 );
                }
            }
        }

    }
}

// CSS3 animations
@keyframes titleFadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        transform: translateY(6rem);
    }
}

@keyframes titleFadeIn {
    from {
        opacity: 0;
        transform: translateY(6rem);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}