/*

Description: Base and Structural styles
Author: Idee di Marca
Author URI: https://www.ideedimarca.it/
Version: 1.0

*/

/*** Header ***/

header.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
    a {
        &:hover {
            opacity: 1;
        }
    }
}

.main-logo {

    position: absolute;
    left: 2rem;
    top: 2rem;
    z-index: 9987;
    max-width: 120px;
    opacity: 1;
    transition: .25s cubic-bezier(0.165, 0.84, 0.44, 1);

    @include media-breakpoint-down(md) {

        left: 1rem;
        top: 1rem;
        max-width: 90px;

    }
}

/*** Nav ***/

.menu-toggler {

    position: absolute;
    right: 2rem;
    top: 2rem;
    z-index: 99899;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $color_grey1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);

    span {

        width: 20px;
        height: 2px;
        margin: 1px 0;
        background-color: $color_dark;
        transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);

        &:last-child {

            width: 15px;

        }

    }

    &:hover {

        background-color: $color_dark;
        opacity: 1 !important;
        
        span {

            background-color: $color_grey1;

        }
    
    }

    @include media-breakpoint-down(md) {

        right: 1rem;
        top: 1rem;

    }

}

.hero-nav {

    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 97;
    pointer-events: none;

    .menu-item {

        max-width: 0;
        overflow: hidden;
        height: 50vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
        transition: 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
        transition-delay: 0.25s;

        &.menu-item-0 {
            background: $color_palette2;            
            .menu-item-desc {
                color: darken( $color_palette2 , 15% );
            }
        }
        &.menu-item-1 {
            background: $color_palette4;     
            .menu-item-desc {
                color: darken( $color_palette4 , 15% );
            }       
        }
        &.menu-item-2 {
            background: $color_palette3;            
            .menu-item-desc {
                color: darken( $color_palette3 , 15% );
            }
        }
        &.menu-item-3 {
            background: darken( $color_palette2 , 15% );
            .menu-item-desc {
                color: $color_palette2;
            }
        }
        &.menu-item-4 {
            background: darken( $color_palette4 , 15% );            
            .area-text {
                p {
                    color: $color_palette4;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
        &.menu-item-5 {
            background: darken( $color_palette3 , 15% );    
            .area-title {
                h6 {
                    color: $color_palette3;
                }
            }
            .area-text {
                a {
                    color: $color_palette3;
                    position: relative;
                    font-style: italic;
                    &:before {
                        content: '.';
                        display: inline-block;
                        margin: 0 .25rem;
                    }
                    &.active {
                        font-weight: 700;
                        font-style: normal;
                    }
                    &:first-child {
                        &:before {
                            display: none;
                        }
                    }
                }
            }        
        }

        .menu-item-title {
            font-size: 2.667rem;
            font-weight: 700;
            color: $color_white;
            line-height: 1;
            margin: 0 0 .25rem 0;
        }

        .menu-item-desc {
            font-weight: 400;
            font-style: italic;
            font-size: 1.066rem;
            line-height: 1;
            margin: 0;
            color: $color_white;    
        }

        .menu-item-title,
        .menu-item-desc,
        .area-text,
        .area-title {
            opacity: 0;
            transition: .35s ease-in-out;
        }

        &.menu-item-text {
            max-width: 0;    
            transition: 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
            transition-delay: 0.25s;
        }

        &:not(.menu-item-text) {
            &:hover {
                background: $color_palette1;
                .menu-item-title {
                    color: $color_white;
                }
                .menu-item-desc {
                    color: $color_palette2;
                }
                .menu-item-title,
                .menu-item-desc {
                    transition-delay: 0;
                }
            }
        }
        
    }

    body.menu-opened & {

        pointer-events: all;

        .menu-item {

            padding-left: 4rem;
            padding-right: 4rem;
            max-width: 100%;

            .menu-item-title,
            .menu-item-desc,
            .area-text,
            .area-title {

                opacity: 1;
                transition-delay: 0.4s;

            }

            &.menu-item-text {

                max-width: 100%;

            }

        }

    }

    @include media-breakpoint-down(lg){

        .menu-item {

            height: 33.33333333vh;

            .menu-item-title {
                font-size: 1.25rem;
            }
            .menu-item-desc {
                font-size: 0.866rem;
            }

            &.menu-item-langs {

                .area-title {
                    h6 {
                        font-size: 0.75rem;
                    }
                }
                .area-text {
                    a {
                        font-size: 0.75rem;
                    }
                }
            }

            .area-text {
                p {
                    font-size: 0.75rem;
                }
                a {
                    font-size: 0.75rem;
                }
            }
    
        }

        body.menu-opened & {
    
            .menu-item {
    
                padding-left: 1rem;
                padding-right: 1rem;
        
            }
    
        }

    }

    @include media-breakpoint-only(md){

        .menu-item {

            .menu-item-title {
                font-size: 1.666rem;
            }
            .menu-item-desc {
                font-size: 1.066rem;
            }

            &.menu-item-langs {

                .area-title {
                    h6 {
                        font-size: 1.066rem;
                    }
                }
                .area-text {
                    a {
                        font-size: 1.066rem;
                    }
                }
            }

            .area-text {
                p {
                    font-size: 1.066rem;
                }
                a {
                    font-size: 1.066rem;
                }
            }
    
        }

        body.menu-opened & {
    
            .menu-item {
    
                padding-left: 2rem;
                padding-right: 2rem;
        
            }
    
        }

    }

}

body.menu-opened {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    .main-logo {
        opacity: 0;
    }
    .menu-toggler {
        span {
            &:last-child {
                display: none;
            }
            &:nth-child(1) {
                transform: rotate(45deg);
                transform-origin: center;
                margin: -1px 0;
            }
            &:nth-child(2) {
                transform-origin: center;
                transform: rotate(-45deg);
                margin: -1px 0;
            }
        }
    }
}

/*** Pages general stuff ***/

.page-heading-thumb {

    position: relative;

    img.obj-fit {
        width: 100%;
        height: 100vh;
        object-fit: cover;
    }

    &.page-heading-thumb-sticky {
        
        position: sticky;
        top: 0;
        left: 0;
    }

    @include media-breakpoint-down(md) {

        img.obj-fit {

            height: 90vh;

        }

        &.page-heading-thumb-sticky {

            position: relative;
            top: auto;
            left: auto;

        }

    }

}

.area-section {

    padding-top: 4rem;
    padding-bottom: 4rem;
    padding-left: 4rem;
    padding-right: 4rem;

    &.area-section-full-height {
        min-height: 100vh;
    }

    &.area-section-hero {
        padding-top: 10rem;
        padding-bottom: 10rem;
    }

    &.area-section-center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: auto;
        padding-bottom: auto;
    }

    &.intro {
        padding-right: calc(4rem + 50px );
    }

    @include media-breakpoint-down(md) {

        padding-top: 2rem;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 2rem;

        &.area-section-full-height {
            min-height: 0;
        }

        &.area-section-hero {
            padding-top: 4rem;
            padding-bottom: 4rem;
        }

        &.intro {
            padding-right: 1rem;
        }

    }
    
}

/*** Footer ***/

footer.footer {

    .footer-logo {
        max-width: 100px;
    }

    .credits-logo {
        max-width: 30px;
    }

    .quick-links {
        a {
            margin: 0 .25rem;
            color: $color_dark;
        }
    }

    .index &,
    .home & {
        display: none;
    }

}

/*** Pages ***/

.page-content {

    &.page-content-technology {

        .labs {

            background: rgb(138,183,217);
            background: linear-gradient(180deg, rgba(138,183,217,1) 50%, rgba(192,215,232,1) 100%);
            overflow: hidden;
            
            .lab-hero-pic {

                transform: translate( 6rem , -3rem );

                &:before {
                    content: '';
                    width: 50%;
                    position: absolute;
                    left: -10%;
                    bottom: 6rem;
                    border-bottom-width: 5px;
                    border-bottom-style: dotted;
                    border-color: $color_palette7;
                    border-image-source: url('assets/images/dots_color_dark.svg');
                    border-image-slice: 29% 29%;
                    border-image-repeat: space;
                }

            }

            .area-caption {

                max-width: 65%;
                margin-bottom: 3rem;
                position: relative;
                
                

            }

        }

        .keynumbers {
            background: rgb(192,215,232);
            background: linear-gradient(180deg, rgba(192,215,232,1) 0%, rgba(180,183,222,1) 100%);
        }

        .values {

            position: relative;

            &:before {

                content: '';
                width: 100%;
                height: calc(100% - 6rem);
                background: $color_palette3;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;

            }

            .area-section {
                padding-top: 0;
                // padding-bottom: 10rem;
            }

        }

    }

    &.page-content-contacts {
        .gmap-container {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 50%;
            height: 50vh;
        }
    }

    @include media-breakpoint-down(md) {

        &.page-content-technology {

            .labs {
                    
                .lab-hero-pic {
    
                    transform: translate( 6rem , -3rem );
    
                    &:before {
                        content: '';
                        width: 50%;
                        position: absolute;
                        left: -10%;
                        bottom: 6rem;
                        border-bottom-width: 5px;
                        border-bottom-style: dotted;
                        border-color: $color_palette7;
                        border-image-source: url('assets/images/dots_color_dark.svg');
                        border-image-slice: 29% 29%;
                        border-image-repeat: space;
                    }
    
                }
    
                .area-caption {
    
                    max-width: 65%;
                    margin-bottom: 3rem;
                    position: relative;
                    
                }
    
            }
    
            .keynumbers {
                background: rgb(192,215,232);
                background: linear-gradient(180deg, rgba(192,215,232,1) 0%, rgba(180,183,222,1) 100%);
            }
    
            .values {
    
                position: relative;
    
                &:before {
    
                    content: '';
                    width: 100%;
                    height: calc(100% - 6rem);
                    background: $color_palette3;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: -1;
    
                }
    
                .area-section {
                    padding-top: 0;
                    // padding-bottom: 10rem;
                }
    
            }
    
        }

        &.page-content-contacts {

            .gmap-container {
                width: 100%;
                height: 40vh;
                padding: 1rem;
                position: relative;
                top: auto;
                left: auto;
            }
            
        }

    }

    @include media-breakpoint-only(md) {

        &.page-content-contacts {
            .gmap-container {
                position: absolute;
                bottom: 0;
                right: 0;
                width: 75%;
                height: 40vh;
            }
            .area-section.area-section-full-height {
                min-height: 0 !important;
            }
        }

    }

    @include media-breakpoint-only(lg) {

        &.page-content-technology {
            .values {
                &:before {
    
                    content: '';
                    height: 100%;
    
                }
            }
        }
        
    }

    @include media-breakpoint-down(lg) {

        &.page-content-technology {

            .labs {

                position: relative;
                    
                .lab-hero-pic {
    
                    transform: translate(40vw, -2vh);
    
                    &:before {
                        content: '';
                        width: 30%;
                        position: absolute;
                        left: 30%;
                        bottom: 6rem;
                    }
    
                }
    
                .area-caption {
    
                    max-width: 65%;
                    margin-bottom: 0;
                    position: absolute;
                    bottom: 4rem;
                    left: 3%;

                    p,
                    h6 {
                        font-size: 0.933rem;
                    }
        
                }
    
            }
    
            .values {
    
                position: relative;
    
                &:before {
    
                    content: '';
                    height: 100%;
    
                }

                img {
                    margin-bottom: 2rem;
                }
    
            }
    
        }

    }

    @include media-breakpoint-between( sm, md ) {

        &.page-content-technology {

            .labs {

                position: relative;
                    
                .lab-hero-pic {
    
                    max-width: 40vw;
                    transform: translate(60vw, 2vh);
    
                    &:before {
                        content: '';
                        width: 30%;
                        position: absolute;
                        left: 30%;
                        bottom: 6rem;
                    }
    
                }
    
                .area-caption {
    
                    max-width: 65%;
                    margin-bottom: 0;
                    position: absolute;
                    bottom: 4rem;
                    left: 3%;

                    p,
                    h6 {
                        font-size: 0.933rem;
                    }
        
                }
    
            }
    
        }

    }

}

.content-product {
    margin-top: 100vh;
}

/*** Front Page ***/

.front-page {

    &.loading {

        nav,
        header,
        footer,
        main {

            opacity: 0;
            animation: fadeInHome .1s ease-in-out forwards;
            animation-delay: 1s;

        }
        
    }
}

.preloading-header {

    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 112;
    pointer-events: none;

    .layers {
        
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;

        span {

            width: 33.3333333%;
            height: 100%;
            position: absolute;
            top: 0;
            background: $color_palette1;
            animation: removeWidth .5s ease-in-out forwards;
            animation-delay: 2.25s;

            &:nth-child(1) {
                left: 0;
            }
            &:nth-child(2) {
                left: 33.33333333%;
            }
            &:nth-child(3) {
                left: 66.66666666%
            }

        }

    }

    .area-title {
        
        position: relative;
        z-index: 4;

        h1,
        h2 {

            color: $color_white;
            font-size: 8rem;
            font-weight: 700;
            letter-spacing: 4px;
            font-family: $font_title;
            overflow: hidden;
            line-height: 120px;
            max-height: 100px;

            div {
                
                max-height: 100px;
                max-width: 140px;
                overflow: hidden;
                display: inline-block;
                transform: translateX(0) translateY(120px);
                animation: slideInUp .75s ease-in-out forwards;

                span {

                    display: inline-block;
                    transform: translateX(0);
                    animation: slideOutRight .75s ease-in-out forwards;
                    animation-delay: 1.75s;

                }

            }

        }

    }

    @include media-breakpoint-only(lg) {
     
        .area-title {
        
            h1,
            h2 {
    
                font-size: 6rem;
                letter-spacing: 3px;
                line-height: 120px;
                max-height: 100px;
    
                div {
                    
                    max-height: 100px;
                    max-width: 140px;
                    
                }
    
            }
    
        }

    }

    @include media-breakpoint-down(lg) {
     
        .layers {
        
            span {
    
                width: 80vw;
    
                &:nth-child(1) {
                    left: 0;
                }
                &:nth-child(2) {
                    left: 80vw;
                }
                &:nth-child(3) {
                    left: calc( 80vw * 2 );
                }
    
            }
    
        }

        .area-title {
        
            h1,
            h2 {
    
                font-size: 5rem;
                letter-spacing: 2px;
                line-height: 100px;
                max-height: 80px;
    
                div {
                    
                    max-height: 80px;
                    max-width: 100px;
                    
                }
    
            }
    
        }

    }

    @include media-breakpoint-down(sm) {
     
        .area-title {
        
            h1,
            h2 {
    
                font-size: 2.666rem;
                letter-spacing: 0;
                line-height: 120px;
                max-height: 100px;
    
                div {
                    
                    max-height: 100px;
                    max-width: 140px;
                    
                }
    
            }
    
        }

    }

}

@keyframes slideInUp {

    to {
        transform: translateX(0px) translateY(0px);
    }

}

@keyframes slideOutRight {
    
    to {
        transform: translateX(120px);
    }

}

@keyframes removeWidth {
    to {
        width: 0;
    }
}

@keyframes fadeInHome {
    to {
        opacity: 1;
    }
}