/*

Description: General and useful
Author: Idee di Marca
Author URI: https://www.ideedimarca.it/
Version: 1.0

*/

html,
body {

    font-family: $font_text;
    font-size: $font_size;
    font-weight: 400;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

a {
    text-decoration: none;
    transition: .3s ease-in-out;
    &:not(.menu-item) {
        &:hover {
            // opacity: .5;
        }
    }
}

strong {
    font-weight: 700;
}

img {
    width: 100%;
    height: auto;
}

.hook-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.color-palette1-bg {
    background-color: $color_palette1;
}

.color-palette2-bg {
    background-color: $color_palette2;
}

.color-palette3-bg {
    background-color: $color_palette3;
}

.color-palette4-bg {
    background-color: $color_palette4;
}

.color-grey1-bg {
    background-color: $color_grey1;
}


.text-color-grey2 {
    & > * {
        color: $color_grey2;
    }
}

.text-color-white {
    & > * {
        color: $color_white;
    }
}

.text-color-palette6 {
    & > * {
        color: $color_palette6;
    }
}