/*

Description: Items: widgets, block, items, etc...
Author: Idee di Marca
Author URI: https://www.ideedimarca.it/
Version: 1.0

*/

/*** Blocks ***/

.team-member {

    .team-specs {
        margin-top: 1rem;
    }

    span {
        font-size: 1.066rem;
        line-height: 1;
        position: relative;
        &:before {
            content: '/';
            display: inline-block;
            margin: 0 .25rem;
            color: $color_grey2;
            font-weight: 400;
        }
        &:first-child {
            &:before {
                display: none;
            }
        }
    }

    .name {
        color: $color_grey2;
        font-weight: 400;
    }
    .role {
        color: $color_dark;
        font-weight: 700;
    }
}

.block-keynumber {

    span {
        
        display: block;
        font-weight: 700;
        color: $color_white;

        &.number {
            line-height: .9;
            font-size: 10rem;
        }

        &.label {
            line-height: 1;
            font-size: 1.25rem;
            text-transform: uppercase;
            font-weight: 400;
        }
    }
    .divider {

        margin: 1rem 0;
        border-bottom-width: 8px;
        border-bottom-style: dotted;
        border-bottom-color: $color_white;
        border-image-source: url('/assets/images/dots_color_white.svg');
        border-image-slice: 33% 33%;
        border-image-repeat: space;

    }

    .area-text {
        opacity: .8;
    }

    @include media-breakpoint-down(xl) {

        span {
            &.number {
                font-size: 6rem;
            }
        }

    }

}

.lab-hero-pic {

    position: relative;

    img {

        position: absolute;
        top: 0;
        left: 0;

        &:first-child {
            
            position: relative;
            top: auto;
            left: auto;

        }

    }
}

.product-types-content {

    .nav-pills {
        
        .nav-item {

            flex: 1;

            .nav-link {

                font-size: 1.066rem;
                font-weight: 700;
                border-radius: 0;
                width: 100%;
                height: 80px;
                color: $color_palette1;
                background: darken( $color_grey1 , 2.5% );
                border-right: 2px solid $color_white;

                &:hover,
                &.active {
                    background: $color_palette1;
                    color: $color_white;
                }

            }

        }

    }

    &#product-type-1 {
        .nav-pills {
            .nav-item {
                .nav-link {
                    color: $color_palette6;
                    &.active,
                    &:hover {
                        background: $color_palette6;
                        color: $color_white;
                    }
                }
            }
        }
        .product-sidebar {
            .product-list{
                h6 {
                    &::before {
                        border-bottom-color: $color_palette2;
                    }
                }
            }
        }
    }
    &#product-type-2 {
        .nav-pills {
            .nav-item {
                .nav-link {
                    color: $color_palette8;
                    &.active,
                    &:hover {
                        background: $color_palette8;
                        color: $color_white;
                    }
                }
            }
        }
        .product-sidebar {
            .product-list{
                h6 {
                    &::before {
                        border-bottom-color: $color_palette8;
                    }
                }
            }
        }
    }
    &#product-type-3 {
        .nav-pills {
            .nav-item {
                .nav-link {
                    color: $color_palette7;
                    &.active,
                    &:hover {
                        background: $color_palette7;
                        color: $color_white;
                    }
                }
            }
        }
        .product-sidebar {
            .product-list{
                h6 {
                    &::before {
                        border-bottom-color: $color_palette7;
                    }
                }
            }
        }
    }

    .product-type-pane {

        .product-type-pane-text {

            min-height: calc( 100vh - 80px);
            display: flex;
            justify-content: center;
            flex-direction: column;
            padding-left: 10rem;
            padding-right: 10rem;

        }

    }

    .product-sidebar {

        display: flex;
        flex-direction: column;
        padding: 5rem;

        .product-list {
            h6 {
                font-size: 1.066rem;
                font-weight: 700;
                font-style: italic;
                position: relative;
                &:before {
                    content: '';
                    width: 15px;
                    position: absolute;
                    top: 7.5px;
                    left: -25px;
                    border-bottom-width: 5px;
                    border-bottom-style: dotted;
                    border-bottom-color: $color_palette1;
                    border-image-source: url(/assets/images/dots_color_dark.svg);
                    border-image-slice: 29% 29%;
                    border-image-repeat: space;
                }
            }
            ul {

                list-style: none;
                padding: 0;
                margin: 0;

                li {

                    font-size: 1.066rem;
                    color: $color_grey2;

                }

            }

        }

    }


    @include media-breakpoint-down(lg) {

        .product-type-pane {
    
            .product-type-pane-text {
    
                min-height: calc( 100vh - 80px);
                display: flex;
                justify-content: center;
                flex-direction: column;
                padding-left: 3rem;
                padding-right: 3rem;
    
            }
    
        }
    
        .product-sidebar {
    
            padding: 3rem;
    
            .product-list {
                h6 {
                    &:before {
                        content: '';
                        left: -20px;
                    }
                }
                
            }
    
        }

    }

}

.area-calltoaction {

    .area-image {
        img.obj-fit {
            width: 100%;
            height: 45vh;
            object-fit: cover;
        }
    }
    .area-text {
        height: 45vh;
        padding: 1rem 5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        h6 {
            font-size: 1.25rem;
            font-weight: 700;
            line-height: 1;
        }
        p {
            margin: .5rem 0 1rem 0;
        }
        .btn {
            color: $color_white;
            font-size: 1.066rem;
            font-weight: 700;
            &:hover {
                opacity: 1;
            }
        }
    }
    .area-title {
        height: 100%;
        padding: 5rem 15rem;
        display: flex;
        align-items: center;
    }

    &#calltoaction-type-1 {
        .area-text {
            .btn {
                background: $color_palette2;
                &:hover {
                    background: $color_palette6;
                }
            }
        }
    }
    &#calltoaction-type-2 {
        .area-text {
            .btn {
                background: $color_palette3;
                &:hover {
                    background: $color_palette8;
                }
            }
        }
    }
    &#calltoaction-type-3 {
        .area-text {
            .btn {
                background: $color_palette4;
                &:hover {
                    background: $color_palette7;
                }
            }
        }
    }

    @include media-breakpoint-down(lg) {

        .area-image {
            img.obj-fit {
                height: 50vh;
            }
        }
        .area-text {
            height: auto;
            padding: 1rem 3rem;
        }
        .area-title {
            padding: 3rem;
        }

    }

    @include media-breakpoint-only(lg) {
        .area-title {
            padding: 3rem !important;
        }
    }


}

/*** Items ***/

.certificates-logos {
    
    div[class^=col-] {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .certificate-logo {
        margin: 2rem 0;
        transition: .3s ease-in-out;
        img {
            max-width: 120px;
        }
        &:hover {
            opacity: .5;
        }
    }

}

.gmap-container {
    background: darken($color_grey1 , 2.5% );
    padding: 2rem;
    iframe {
        width: 100% !important;
        height: 100% !important;
    }
}

/*** Forms ***/

form {
    .form-group {
        margin-bottom: 2rem;
    }
    .form-control {
        border-radius: 0;
        border: none;
        background: transparent;
        font-size: 1.0666rem;
        color: $color_grey2;
        padding: 0;
        height: 60px;
        font-weight: 400;
        border-bottom-width: 5px;
        border-bottom-style: dotted;
        border-color: $color_dark;
        border-image-source: url(/assets/images/dots_color_dark.svg);
        border-image-slice: 29% 29%;
        border-image-repeat: space;
        &:focus,
        &:active {
            border-image-source: url(/assets/images/dots_color_palette6.svg);
            box-shadow: none;
            background: transparent;
        }
        &.form-textarea {
            height: 120px;
            resize: none;
        }
    }
    .form-check {
        font-size: 0.8rem;
        color: $color_grey2;
        font-weight: 400;
        font-style: italic;
    }
    .form-submit {
        margin-top: 2rem;
        display: inline-block;
        position: relative;
        &:after {
            content: url('../images/long-arrow-right-light-white.svg');
            width: 30px;
            height: 30px;
            position: absolute;
            right: 2rem;
            top: 50%;
            transform: translateY( -55% );
            transition: .3s cubic-bezier(0.165, 0.84, 0.44, 1);
        }
        .btn {
            border-radius: 100px;
            background: $color_palette6;
            text-transform: uppercase;
            padding: 1.5rem 6rem 1.5rem 3rem;
            color: $color_white;
            font-weight: 700;
            font-size: 1.066rem;
        }
        &:hover {
            &:after {
                right: 1rem;
            }
            .btn {
                background-color: $color_dark;

            }
        }
    }
    ::-webkit-input-placeholder {
        color: $color_grey2;
      }
      ::-moz-placeholder {
        color: $color_grey2;
      }
      :-ms-input-placeholder {
        color: $color_grey2;
      }
      :-moz-placeholder {
        color: $color_grey2;
      }
}

/*** Carousel ***/

.carousel-nav {

    margin-top: 1rem;
    
    a {
    
        text-decoration: none;
        display: inline-block;
        margin: 0 .5rem;
    
        svg {
            width: 30px;
            path {
                fill: $color_white;
                transition: 0.3s ease-in-out;
            }
        }

        &:first-child {
            margin-left: 0;
        }
    
        &:hover {
            svg {
                path {
                    fill: $color_palette6;
    
                }
            }
        }
    
    }
}
