/*

Description: Typography
Author: Idee di Marca
Author URI: https://www.ideedimarca.it/
Version: 1.0

*/

.area-title {

    h2,
    h3,
    h5,
    h6 {
        font-weight: 700;
        line-height: 1.1;
    }

    h2 {
        font-size: 2.9666rem;
    }
    h3 {
        font-size: 2.267rem;
    }
    h5 {
        font-size: 1.333rem;
    }
    h6 {
        font-size: 1.066rem;
    }
    em {
        font-weight: 300;
    }

    &.area-title-hero {
        span {

            font-weight: 700;
            line-height: .9;

            &:nth-child(1) {
                font-size: 4rem;
            }
            &:nth-child(2) {
                font-size: 9rem;
            }
        }
    }
    
    @include media-breakpoint-only(lg) {
        
        &.area-title-hero {

            margin-bottom: 1rem;
            
            span {
    
                &:nth-child(1) {
                    font-size: 4rem;
                }
                &:nth-child(2) {
                    font-size: 4rem;
                }
            }
        }

    }

    @include media-breakpoint-down(md) {

        h2 {
            font-size: 2.267rem;
        }
        h3 {
            font-size: 1.667rem;
        }

        &.area-title-hero {
            span {
                &:nth-child(1) {
                    font-size: 2.267rem;
                }
                &:nth-child(2) {
                    font-size: 4rem;
                }
            }
        }

    }
}

.area-text {
    ul,
    ol {
        li {
            font-size: 0.9333rem;
        }
    }
    p {
        font-size: 0.9333rem;
        font-weight: 300;
        line-height: 1.3;
        a {
            color: inherit;
            text-decoration: none;
            font-size: inherit;
            &:hover {
                text-decoration: underline;
                opacity: .5;
            }
        }
    }
    a {
        font-size: 0.9333rem;
        font-weight: 300;
        line-height: 1.3;
        color: $color_dark;
    }
    &.area-text-hero {
        p {
            font-size: 1.125rem;
            line-height: 1.5;
        }
    }
    &.area-text-small {
        & > * {
            font-size: 0.8rem;
            font-weight: 700;
        }
    }
}

.area-caption {
    h6 {
        color: $color_palette7;
        font-size: 1.25rem;
        font-weight: 700;
        line-height: 1.2;
        margin: 0 0 .25rem 0;
    }
    p {
        font-weight: 400;
        font-style: italic;
        font-size: 1.066rem;
        line-height: 1.4;
        color: rgba( $color_white , .75 );
    }
}

.btn {
    background: $color_palette1;
    color: $color_white;
    font-size: 1.066rem;
    padding: 1rem 2rem;
    border-radius: 100px;
    font-family: $font_title;
    font-weight: 700;
    &:hover {
        opacity: 1;
        background: darken( $color_palette1, 5% );
    }
}