/*

Description: Variables: Fonts, colors, gutters, ecc...
Author: Idee di Marca
Author URI: https://www.ideedimarca.it/
Version: 1.0

*/

/*** Colors ***/
$color_palette1 : #013A6B;  // main blue
$color_palette2 : #C0D7E8;  // light blue
$color_palette3 : #B4B7DE;  // violet
$color_palette4 : #F1A69C;  // coral
$color_palette5 : #A6DDA5;  // light green
$color_palette6 : #8AB7D9;  // mid blue
$color_palette7 : #DE7424;  // orange
$color_palette8 : #8387AF;  // dark violet

$color_dark : #212121;      // almost black
$color_white : #fff;        // white

$color_grey1 : #fafafa;     // lightes grey
$color_grey2 : #919191;     // mid grey

/*** Fonts ***/

$font_title : 'Baloo 2', cursive;
$font_text: 'Cantarell', sans-serif;

$font_size: 15px;