/*
Theme Name: Tato Fabbrica Aromi Alimentari
Theme URI: https://www.aromialimentari.it/
Author: Idee di Marca
Author URI: https://www.ideedimarca.it/
Description: Custom theme for Tato by Idee di Marca
Version: 1.0
Text Domain: tato
*/

/*** vendors ***/
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;700&family=Cantarell:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url("../vendors/slick-1.8.1/slick/slick.css");
@import url("../vendors/slick-1.8.1/slick/slick-theme.css");

// @import url("https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css");

@import "../node_modules/bootstrap/scss/bootstrap.scss";

/*** general ***/
@import "_variables.scss";
@import "_general.scss";

/*** styles ***/
@import "_typography.scss";
@import "_base.scss";
@import "_items.scss";
@import "_ajax.scss";